<section>
  <h2>Editing Book</h2>

<%# form_for %>
  <%= form_for(@books) do |f| %>
    <p>title</p>
    <%= f.text_field :title %>
    <%# title情報が反映されている入力フォームを下に作成 %>

    <p>Body</p>
    <%= f.text_area :body %>
    <%# body情報が反映されている入力フォームを下に作成 %>

    <%= f.submit 'Create Book' %>
  <% end %>
<%# form_for %>
</section>
<div>
  <p>
    <span class="block"><%= link_to "Show", book_path(@books) %></span>
    <%# @booksはコントローラから送られてきた情報が格納されている！ %>
    |
    <span class="block"><%= link_to "Back", '/books' %></span>
    <%# link_toの記述の仕方はいくつかある！ → 分からなくなったらlink_toで検索！ %>
  </p>
</div>